body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Cambiar a space-around para distribuir los elementos de forma equitativa */
    padding: 20px;
}


.card {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

.carrito {
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.carrito h2 {
    margin-bottom: 10px;
}

.carrito ul {
    list-style-type: none;
    padding: 0;
}

.carrito li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.carrito li:last-child {
    border-bottom: none;
}

.carrito .total {
    font-weight: bold;
    margin-top: 10px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}