body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

header .logo {
    width: 130px;
    height: auto;
}

.header-text h1 {
    margin-left: 10px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .logo {
    width: 130px;
    height: auto;
    margin: 0 auto;
}

.header-text h1 {
    margin-left: 10px;
}

.banner {
    width: 100%;
    margin: 0;
    padding: 10px;
}

.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}

h1{   
    text-align: center;
}
h2{  
    text-align: center;   
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.no-card {
    position: relative;
     width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}
.no-card img {
    max-width: 100%;
    height: auto;
}
.carrito {
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.carrito h2 {
    margin-bottom: 10px;
}

.carrito ul {
    list-style-type: none;
    padding: 0;
}

.carrito li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.carrito li:last-child {
    border-bottom: none;
}

.carrito .total {
    font-weight: bold;
    margin-top: 10px;
}


.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-add {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add:hover {
    background-color: #687380;
}

#carrito {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#carrito > * {
    flex: 0 0 auto; 
    margin-right: 10px;
}

.estado-agotado {
    position: absolute;
    bottom: 33px;
    left: 0;
    right: 0;
    color: red;
    font-weight: bold;
  
}

.final {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.finalizar-compra {
    display: none; 
}

#productos {
    color:white !important;
    text-align: center;
    background-color: #343a40;
}